.icon-picker-drawer {
  .drawer__content-children {
    display: flex;
    flex-direction: column;
  }

  &--compact .drawer__content {
    max-width: min(800px, calc(100% - var(--gutter-h)));
  }
}

.icon-picker-drawer__trigger {
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 100%;
}
